---
http_interactions:
- request:
    method: post
    uri: https://cloud-api.yandex.net/v1/disk/resources/move?from=/test.jpg&overwrite=false&path=/test/testing.jpg
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-2f2e3b708d1c2a99fb5a7b6414d31877-api18h
    body:
      encoding: UTF-8
      string: '{"href":"https://cloud-api.yandex.net/v1/disk/resources?path=disk%3A%2Ftest%2Ftesting.jpg","method":"GET","templated":false}'
  recorded_at: Tue, 07 Dec 2021 21:06:25 GMT
recorded_with: VCR 6.0.0
