---
http_interactions:
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?overwrite=true&path=Gemfile
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-d703242e6cbfdc0871734798fb3422c1-api37f
    body:
      encoding: UTF-8
      string: '{"operation_id":"936c2b9ec39c75ce7a6a937272a1118957790399ed22abdf73e470a4e6a57b30","href":"https://uploader23o.disk.yandex.net:443/upload-target/zozo","method":"PUT","templated":false}'
  recorded_at: Mon, 06 Dec 2021 08:15:27 GMT
recorded_with: VCR 6.0.0
