---
http_interactions:
- request:
    method: propfind
    uri: https://webdav.yandex.ru/01/dip.yml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '0'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Yandex-Cloud-Request-Id:
      - dav-c9767e80683ed09560a255dead9c78c9-sas1-e3e17b1d3c85
      Yandex-Uid:
      - '1130000019982670'
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><d:multistatus xmlns:d="DAV:"><d:response><d:href>/01/dip.yml</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:getetag>9874b28f4109f82ccccfdad1dbad083a</d:getetag><d:creationdate>2019-06-05T17:17:58Z</d:creationdate><d:displayname>dip.yml</d:displayname><d:getlastmodified>Wed,
        05 Jun 2019 17:17:59 GMT</d:getlastmodified><d:getcontenttype>text/plain</d:getcontenttype><d:getcontentlength>1113</d:getcontentlength><d:resourcetype/></d:prop></d:propstat></d:response></d:multistatus>
  recorded_at: Thu, 06 Jun 2019 12:22:31 GMT
recorded_with: VCR 5.0.0
