---
http_interactions:
- request:
    method: propfind
    uri: https://webdav.yandex.ru/
    body:
      encoding: UTF-8
      string: |
        <D:propfind xmlns:D="DAV:">
          <D:prop>
            <D:quota-available-bytes/>
            <D:quota-used-bytes/>
          </D:prop>
        </D:propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '0'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Yandex-Cloud-Request-Id:
      - dav-6dc73138a77edbcb01c976b9345a8cb8-sas1-0c40f6665c7a
      Yandex-Uid:
      - '1130000019982670'
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><d:multistatus xmlns:d="DAV:"><d:response><d:href>/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:quota-used-bytes>10661963944</d:quota-used-bytes><d:quota-available-bytes>10812872536</d:quota-available-bytes></d:prop></d:propstat></d:response></d:multistatus>
  recorded_at: Fri, 07 Jun 2019 09:14:24 GMT
recorded_with: VCR 5.0.0
