---
http_interactions:
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/download?path=/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - rest-f83851012d51f874f37e090df17900f1-api12e
    body:
      encoding: UTF-8
      string: '{"href":"https://downloader.disk.yandex.ru/zip/47314012ca3be1da513c903736e66eebc52080d3074489e1d0cee800ed9b4167/5e2ae54c/L2Rpc2svdGVzdA==?uid=1130000019982670&filename=test.zip&disposition=attachment&hash=&limit=0&owner_uid=1130000019982670&tknv=v2","method":"GET","templated":false}'
  recorded_at: Fri, 24 Jan 2020 12:36:36 GMT
recorded_with: VCR 5.0.0
