---
http_interactions:
- request:
    method: get
    uri: https://login.yandex.ru/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"first_name": "\u041c\u0430\u043a\u0441\u0438\u043c", "last_name":
        "\u0422\u0440\u0435\u0442\u044c\u044f\u043a\u043e\u0432", "display_name":
        "max@mail.mytm.tk", "emails": ["max@mail.mytm.tk"], "default_avatar_id": "23186/enc-4d0c624b99db8ff0db181b696ea9de274f5e89b868eff2e38d672b321a28d073",
        "default_email": "max@mail.mytm.tk", "real_name": "\u041c\u0430\u043a\u0441\u0438\u043c
        \u0422\u0440\u0435\u0442\u044c\u044f\u043a\u043e\u0432", "is_avatar_empty":
        false, "birthday": null, "client_id": "99bcbd17ad7f411694710592d978a4a2",
        "login": "max@mail.mytm.tk", "sex": "male", "id": "1130000019982670"}'
  recorded_at: Sun, 28 Apr 2019 15:43:50 GMT
recorded_with: VCR 4.0.0
