---
http_interactions:
- request:
    method: mkcol
    uri: https://webdav.yandex.ru/test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Yandex-Cloud-Request-Id:
      - dav-f209e7486f45795b54dbff2034a7020e-wrc7vgdsd7yro2bu
      Yandex-Uid:
      - '1259373998'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 21 Jun 2021 06:10:47 GMT
[...]
- request:
    method: propfind
    uri: https://webdav.yandex.ru/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Yandex-Cloud-Request-Id:
      - dav-934f814c175e35f2a8b0073f5fbf7d4b-2fk5k4uicrxar7qt
      Yandex-Uid:
      - '1259373998'
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><d:multistatus xmlns:d="DAV:"><d:response><d:href>/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2012-04-04T20:00:00Z</d:creationdate><d:displayname>disk</d:displayname><d:getlastmodified>Wed,
        04 Apr 2012 20:00:00 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response><d:response><d:href>/other_dev/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2020-12-14T06:22:04Z</d:creationdate><d:displayname>other_dev</d:displayname><d:getlastmodified>Mon,
        14 Dec 2020 06:22:04 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response><d:response><d:href>/photos_dev/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2020-12-14T06:21:59Z</d:creationdate><d:displayname>photos_dev</d:displayname><d:getlastmodified>Mon,
        14 Dec 2020 06:21:59 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response></d:multistatus>
  recorded_at: Mon, 21 Jun 2021 06:10:47 GMT
recorded_with: VCR 6.0.0
