---
http_interactions:
- request:
    method: mkcol
    uri: https://webdav.yandex.ru/test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Yandex-Cloud-Request-Id:
      - dav-998f544efa777de5a97d5d6a3bd55e33-zrnnflgtovduja6z
      Yandex-Uid:
      - '1259373998'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 21 Jun 2021 06:10:48 GMT
- request:
    method: put
    uri: https://webdav.yandex.ru/test/Gemfile
    body:
      encoding: UTF-8
      string: |
        # frozen_string_literal: true

        source 'https://rubygems.org'

        git_source(:github) { |repo_name| "https://github.com/#{repo_name}" }

        gem 'pry-byebug'
        gem 'rubocop', require: false
        gem 'rubocop-rspec', require: false

        gemspec
    headers:
      Authorization:
      - OAuth <TOKEN>
      Etag:
      - a982d871f5067df72c308473a9f6bd42
      Sha256:
      - bad57f3265ecd3dc1cf368162a07d8384af0780f54e7cd29f0d10781c147c1e0
  response:
    status:
      code: 201
      message: Created
    headers:
      Yandex-Cloud-Request-Id:
      - dav-3f4aa1238ea320225f5ec519cc838f4d-g6erc5oszfsw4cjn
      Yandex-Uid:
      - '1259373998'
      Location:
      - "/disk/test/Gemfile"
    body:
      encoding: ASCII-8BIT
      string: Hardlinked
  recorded_at: Mon, 21 Jun 2021 06:10:48 GMT
[...]
- request:
    method: propfind
    uri: https://webdav.yandex.ru/test
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Yandex-Cloud-Request-Id:
      - dav-9bc9003ee40ca1211554c49c368037c0-kz6drriwqxw3vpkq
      Yandex-Uid:
      - '1259373998'
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><d:multistatus xmlns:d="DAV:"><d:response><d:href>/test/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2021-06-21T06:10:48Z</d:creationdate><d:displayname>test</d:displayname><d:getlastmodified>Mon,
        21 Jun 2021 06:10:48 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response></d:multistatus>
  recorded_at: Mon, 21 Jun 2021 06:10:49 GMT
- request:
    method: delete
    uri: https://webdav.yandex.ru/test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Yandex-Cloud-Request-Id:
      - dav-4152cb168ebaec56bfe144d2df438cc8-ndb2u3gohtcbai52
      Yandex-Uid:
      - '1259373998'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 21 Jun 2021 06:10:50 GMT
recorded_with: VCR 6.0.0
