---
http_interactions:
- request:
    method: put
    uri: https://webdav.yandex.ru/Gemfile
    body:
      encoding: UTF-8
      string: test
    headers:
      Authorization:
      - OAuth <TOKEN>
      Etag:
      - '098f6bcd4621d373cade4e832627b4f6'
      Sha256:
      - 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
  response:
    status:
      code: 201
      message: Created
    headers:
      Yandex-Cloud-Request-Id:
      - dav-0a082e17651ce01636c1a0970b0549b6-ukozw5i2u3vltq5u
      Yandex-Uid:
      - '1259373998'
      Location:
      - "/disk/Gemfile"
    body:
      encoding: ASCII-8BIT
      string: Hardlinked
  recorded_at: Mon, 21 Jun 2021 06:10:56 GMT
- request:
    method: propfind
    uri: https://webdav.yandex.ru/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><propfind xmlns="DAV:"></propfind>
    headers:
      Authorization:
      - OAuth <TOKEN>
      Depth:
      - '1'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Yandex-Cloud-Request-Id:
      - dav-c1b26ae0667a59b4f9a919326b6aadee-i3oy6toc5m5cuurr
      Yandex-Uid:
      - '1259373998'
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><d:multistatus xmlns:d="DAV:"><d:response><d:href>/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2012-04-04T20:00:00Z</d:creationdate><d:displayname>disk</d:displayname><d:getlastmodified>Wed,
        04 Apr 2012 20:00:00 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response><d:response><d:href>/other_dev/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2020-12-14T06:22:04Z</d:creationdate><d:displayname>other_dev</d:displayname><d:getlastmodified>Mon,
        14 Dec 2020 06:22:04 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response><d:response><d:href>/photos_dev/</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><d:creationdate>2020-12-14T06:21:59Z</d:creationdate><d:displayname>photos_dev</d:displayname><d:getlastmodified>Mon,
        14 Dec 2020 06:21:59 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop></d:propstat></d:response><d:response><d:href>/Gemfile</d:href><d:propstat><d:status>HTTP/1.1
        200 OK</d:status><d:prop><file_url>https://downloader.disk.yandex.ru/disk/4ae81ea32e545e9708895f05561f0e25ee96ab561bd0a827ca905a169887e458/60d065b0/momkGL3uxGKzwZmChqWSYB3uyvwivS2Je7aVHZt1Nk8tgvfadZoBPVzzzXeJ-VcJ0Zu_EYELSzmu5RdBhmhsEQ%3D%3D?uid=1259373998&amp;filename=Gemfile&amp;disposition=attachment&amp;hash=&amp;limit=0&amp;content_type=text%2Fplain&amp;owner_uid=1259373998&amp;fsize=4&amp;hid=a1e99636c8a61edbd7e2e5b3168ab2cf&amp;media_type=text&amp;tknv=v2&amp;etag=098f6bcd4621d373cade4e832627b4f6</file_url><d:getetag>098f6bcd4621d373cade4e832627b4f6</d:getetag><d:creationdate>2021-06-21T06:10:56Z</d:creationdate><mulca_file_url>320.yadisk:314420146.E131073:72226499291633467628044828</mulca_file_url><d:displayname>Gemfile</d:displayname><d:getlastmodified>Mon,
        21 Jun 2021 06:10:56 GMT</d:getlastmodified><d:getcontenttype>text/plain</d:getcontenttype><d:getcontentlength>4</d:getcontentlength><mulca_digest_url>320.yadisk:314420146.E28057:7222649917142016237052932124</mulca_digest_url><d:resourcetype/></d:prop></d:propstat></d:response></d:multistatus>
  recorded_at: Mon, 21 Jun 2021 06:10:56 GMT
- request:
    method: delete
    uri: https://webdav.yandex.ru/Gemfile
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Yandex-Cloud-Request-Id:
      - dav-95b7c86130a5c4dbc5f27b25a011dba3-rk4sj6bj4pxd2heb
      Yandex-Uid:
      - '1259373998'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 21 Jun 2021 06:10:57 GMT
recorded_with: VCR 6.0.0
