---
http_interactions:
- request:
    method: post
    uri: https://oauth.yandex.ru/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&client_id=ede5c51271164a9e833ab9119b4d3c26&client_secret=<API_SECRET_KEY>&refresh_token=<REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "<TOKEN>", "expires_in": 31533585, "refresh_token":
        "<RESULT_REFRESH_TOKEN>", "token_type": "bearer"}'
  recorded_at: Tue, 22 Jun 2021 09:57:28 GMT
recorded_with: VCR 6.0.0
